body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    font-family: Calibri, sans-serif;
}

.hidden {
    display: none !important;
}

.flex-space-between {
    display: flex; 
    justify-content: space-between;
}

#collapse-btn {
    --button-size: 30px;
    position: fixed;
    left: 5px;
    top: 5px;
    width: var(--button-size);
    height: var(--button-size);
    background-color: white;
    border: black 2px solid;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#collapse-btn:hover {
    background-color: rgb(209, 210, 212);
}

#tasks {
    flex: 1;
    display: flex; 
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    padding: 30px 0;
    box-sizing: border-box;
}

#main-tab {
    height: 100vh;
    width: 100vw;
    max-width: 500px;
    padding: 10px;
    border-right: black 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

#main-tab h1 {
    text-align: center;
}

#main-tab form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

/*custom row layout*/
.form-row {
    width: 100%;
    display: grid;
    gap: 20px;
}

#task-image-preview-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#task-image-preview {
    max-width: 100%;
    max-height: 200px;
}

#form-reset {
    display: none;
}

#form input[type="submit"] {
    align-self: center;
}

#row-1 {
    grid-template-columns: 1fr 1fr;
}

#row-2 {
    grid-template-columns: 1fr;
}

form textarea {
    width: 100%;
    z-index: 10;
    resize: vertical;
    box-sizing: border-box;
}

#row-3 {
    grid-template-columns: 1fr;
}

#row-4 {
    grid-template-columns: 1fr;
}
#row-5 {
    grid-template-columns: 1fr;
}

/*task styling*/

.task {
    height: auto;
    width: 100%;
    border: black solid 2px;
}
.task-inner-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.task-header {
    width: 100%;
}
.task-title, .task-creator-text {
    margin: 0;
}

.task-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

p.task-desc {
    margin: 0;
}

.task-content img {
    max-width: 100%;
    max-height: 300px;
    align-self: center;
}

.task-controls{
    align-self: center;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 50vw;
}

/*modify form styling*/

.modify-form {
    overflow-y: auto;
}

.modify-form-close-button {
    align-self: flex-end;
}

.modify-form-inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    box-sizing: border-box;
    
}

.m-task-image-preview-wrapper {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.m-task-image-preview {
    max-width: 70%;
    max-height: 140px;
}

.modify-form input[type="submit"] {
    align-self: center;
}

@media (max-width: 900px) {
    body {
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
    #main-tab {
        height: auto;
        overflow-y: auto;
        max-height: 70vh;
        max-width: none;
        border: none;
        border-bottom: 3px solid black;
        box-sizing: border-box;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    #task-list {
        width: 60%;
        max-width: none;
    }
}
@media (max-width: 560px) {
    #task-list {
        width: 80%;
    }
}
@media (max-width: 420px) {
    .modify-form .wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
} 

